.appBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

.container {
  width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  text-align: center;
}
