.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #000000;
  margin-right: 10px;
  text-decoration: none;
  outline: none;
}

.activated {
  composes: link;
  color: #ffffff;
}

.text {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 600;
}
